//To compile, run:
// cd /Users/jorgelainfiesta/Documents/Universidad/8vo\ Semestre/Web/Proyecto3/laravel/public/styles
// sass --watch global.scss:global.css

@import 'resources/reset';
@import 'resources/glyphicons';
@import 'resources/variables';
@import 'resources/mixins';
@import 'resources/layout';
@import 'resources/typography';
@import 'resources/forms';
@import 'resources/widgets';
@import 'resources/dropzone';

/**
 * Manga Styles
 */

//Global
body {
    background: url(../images/body_bg.png);
}

//Page header
.page_header {
    @extend %row;
    border-bottom: 3px solid $contrast_color;
    color: $contrast_color;
    margin-top: $gap; 
    margin-bottom: $gap;
    .manga_thumb {
        @extend %col-5;
        img {
            max-width: 100%;
        }
    }
    .manga_info {
        @extend %col-7;
    }
}
 
//Welcome 
.welcome_badge {
    border-bottom: 1px solid $light_base;
    border-top: 1px solid $light_base;
    color: $dark_text;
    padding: 1em;
    margin: $gap;
    
    h2 {
        color: $light_base;
        font-size: 3em;
    }
}

//Navbar
.navbar {
    @include clearfix();
    background-color: #e9dba6;
    border-radius: 0;
    border: none;
    border-bottom: 5px solid #fff;
    .navbar_header {
        float: left;
    }
    .navbar_brand {
        padding: $gap;
        color: $dark_base;
        text-decoration: none;
        display: inline-block;
    }
    .nav {
        float: left;
        padding: 0;
        list-style: none;
        
        &.nav_right {
            float: right;
        }
        > li {
            display: inline-block;
            a {
                padding: $gap+2 $gap;
                color: $dark_base;
                text-decoration: none;
            }
            &.active a{
                 background-color: #fff;
                color: $contrast_color;
            }
        }
    }
    .navbar_toggle {
        display: none;
        background: none;
        border: none;
        outline: none;
        margin: $gap;
        
        .sr_only {
            display: none;
        }
    }
    @include for_phone {
        border-color: $dark_subtle;
        
        .navbar_header {
            float: none;
        }
        .navbar_toggle {
            display: block;
            float: right;
        }
        
        .nav {
            float: none;
            margin: 0;
            
            &.nav_right {
                float: none;
            }
            > li {
                display: block;
                clear: both;
                a {
                    display: block;
                    &:hover {
                        color: $contrast_color;
                    }
                }
            }
        }
        .navbar_collapse {
            background: #fff;
            
            li.active a {
                background: $contrast_color;
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
            &.navbar_collapsed {
                display: none;
            }
        }
    }
    .logout_form {
        margin: ($gap+2)/2 $gap;
        float: right;
    }
}

//Login
.login_form {
    .form-group {
        @include clearfix;
        padding: 15px 0;
        margin: 0 0 15px 0;
        border-bottom: 1px solid $contrast_light;
        &:last-child {
            border: none;
        }
        label {
            @extend %col-2;
            &.checkbox_label {
                @extend %col-12;
                input[type="checkbox"] {
                    @extend %col-2;
                }
            }
        }
        input {
            @extend %col-10;
        }
    }
    .btn {
        font-size: 1.1em;
        display: block;
        width: 100%;
        margin-top: 15px;
        padding: 7px;
        
        color: #fff;
        border-color: #fff;
        &:hover {
            border-color: $action_color;
        }
    }
}

// How manga and episode lists are displayed
.manga_list, .episode_list {
    @extend %row;
    
    article {
        border-right: 1px solid rgb(229, 229, 215);
    }
    .circle-btn {
        margin-top: 15%;
    }
}

.episode_list {
    .episode_element {
        @extend %col-3;
        img {
            max-width: 100%;
            display: block;
        }
    }
}
.manga_list {
    .manga_series {
        @extend %col-4;
        img {
            max-width: 100%;
            display: block;
        }
    }
}
.manga_series, .episode_element {
    margin-bottom: 1em;
    .manga_title {
        position: relative;
        margin-bottom: 1em;
        background: $dark_base;
        max-height: 300px;
        overflow: hidden;
        
        img {
            opacity: 0.2;
            transition: opacity 0.2s;
        }
        h3, h4 {
            position: absolute;
            bottom: 0;
            margin-left: 20px;
            font-size: 3.5em;
            color: #fff;
            transition: opacity 0.2s;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        h4 {
           font-size: 2em; 
        }
        strong {
            display: block;
            font-size: 0.6em;
            opacity: 0.7;
        }
    }
    .new_episode {
        display: block;
        font-size: 1.1em;
        padding: $gap/2;
    }
    .stats {
        margin-top: 1em;
    }
    &:hover {
        img {
           opacity: 1; 
        }
        h3, h4 {
            opacity: 0;
        }
    }
    .series_title {
        font-size: 1.1em;
    }
}

//Createa Manga
.create_manga_form {
    @extend  %row;
    
    .manga_meta {
        @extend %col-6;
        label {
            display: block;
            margin-top: $gap;
        }
        input[type=text], textarea {
            //@extend %col-10;
            display: block;
            width: 100%;
        }
        label[for^=cat-] {
            input {
                display: inline;
            }
            display: inline-block;
            padding: 6px;
            border-radius: 6px;
            background: $subtle_color;
            cursor: pointer;
        }
    }
    .manga_thumb {
        @extend %col-6;
        position: relative;
    }
    .btn_primary {
        font-size: 1.2em;
        display: block;
        width: 100%;
        margin-top: $gap;
    }
    
    .dropzone .dz-preview .dz-details img,
    .dropzone-previews .dz-preview .dz-details img,
    .dropzone .dz-preview .dz-details,
    .dropzone-previews .dz-preview .dz-details {
        width: 400px;
        height: 250px;
    }
    .dropzone .dz-preview, .dropzone-previews .dz-preview {
        border: none;
        margin: $gap 0;
    }
    .dropzone a.dz-remove, .dropzone-previews a.dz-remove {
        background: none;
    }
    .drop_upload_file {
        i {
            font-size: 1.5em;
        }
        background: url(../images/editing_bg.png);
        border: 1px dashed $contrast_light;
        color: $contrast_dark;
        width: 400px;
        height: 250px;
        position: absolute; 
        left: ($gap*2)-4;
        top: ($gap*2)-2;
        margin-top: $gap;
        padding: $gap*3 $gap;
        border-radius: 4px;
        text-align: center;
        transition: border 0.5s, color 0.5s, background-color 0.5s;
        cursor: pointer;
        //z-index: -1;
        
    }
    &.dz-drag-hover .drop_upload_file {
        background-color: $contrast_dark;
        border: 1px solid $contrast_dark;
        color: #000;
    }
    
}
.delete_form {
    margin-top: $gap*5;
    text-align: center;    
}

//Create episode
.create_episode_name,  .save_btn{
    margin-top: 23px;
}

.page_edit_list {
    @extend %row;
    
    #page_list {
        @include clearfix();
        background: url(../images/editing_bg.png);
        padding: 0;
        list-style: none;
        border: 1px dashed $contrast_dark;
        transition: border 0.5s, color 0.5s, background-color 0.5s;
        
        &.dz-drag-hover {
            border-style: solid;
            background-color: $contrast_light;
        }
    }
    .meta {
        font-size: 0.8em;
        color: #7d7d7d
    }
    .drop_upload_file {
        @extend %col-2;
        background: rgba($contrast_dark, 0.5);
        color: #fff;
        height: 325px;
        border-radius: 4px;
        margin: $gap 0 $gap $gap;
        border: 1px dashed $contrast_dark;
        cursor: pointer;
        text-align: center;
        padding-top: $gap*3;
        transition: border 0.5s, color 0.5s, background-color 0.5s;
        &.dz-drag-hover {
            border-style: solid;
            background-color: $contrast_light;
        }
    }
    .dz-remove {
        display: none;
    }
    .page {
        @extend %col-2;
        margin: $gap 0 0 $gap;
        background: #fff;
        padding: $gap/2;
        img {
            max-width: 100%;
        }
    }
    .progress {
        overflow: hidden;
        height: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border-radius: 4px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        
        .progress-bar {
            float: left;
            width: 0;
            height: 100%;
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            text-align: center;
            background-color: #428bca;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            -webkit-transition: width .6s ease;
            transition: width .6s ease; 
            &.progress-bar-success{
                background: green;
            }
        }
    }
}

.manga_page {
    position: relative;
    width: 50%;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    
    .page_tools {
        position: absolute;
        top: 10px;
        left: 25px;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }
    .manga_img_wrap {
        width: 100%;
        img {
            max-width: 100%;
        }
    }
    &.content_page {
        &:hover {
            .page_tools {
                opacity: 1;
            }
        }
    }
    &.empty_page {
        .page_tools {
            display: none;
        }
        .drop_upload_file {
            border: 1px dashed $contrast_color;
            padding: 10em 3em 3em 3em;
            text-align: center;
            min-height: 120%;
            font-size: 1.3em;
            //color: $contrast_color;
        }
        .upload_icon {
            font-size: 4em;
        }
        .traditional_input {
            font-size: 0.9em;
            margin-top: 1em;
            color: $contrast_color;
        }
        input[type=file] {
            display: inline;
        }
    }
}

.single .manga_page {
    margin-left: 25%;
}
.manga_book.editing  {
    background: url(../images/editing_bg.png);
    padding: 15px 0;
}

//Read manga series
.manga_thumb {
    margin-bottom: 1em;
    position: relative;
    
    .btn {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 20;
        opacity: 0;
        transition: opacity 0.1s;
    }
    &:hover .btn {
        opacity: 1;
    }
}
.manga_description p {
    color: $main_text;
}
.stars_list {
    list-style: none;
    padding: 0;
    li {
        display: inline-block;
        margin: 0 0.3em;
        color: #ffb100;
    }
}

//Footer 
.site_footer {
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: $gap*2 $gap $gap $gap;
    color: #727272;
}

//Buttons

.btn-default {
    @include button_repaint($dark_base);
}
.btn_primary {
    @include button_repaint($action_color);
}
.back-link {
    color: $light_base;
}
.circle-btn {
    width: 50%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border: 3px solid $action_color; 
        border-radius: 50%;
        transition: background 0.1s ease-in-out;
    }
    &:hover {
        &:after {
            background: $action_color;
        }
        span {
            color: #fff;
        }
    }
    span {
        display: block;
        float: left;
        width: 100%;
        padding-top: 50%;
        line-height: 1em;
        margin-top:-0.5em;
        text-align: center;
        font-size: 1.5em;
        color: $action_color;
        transition:  color 0.1s ease-in-out;
    }
}

//Dark colors 
body.show_theme {
    background: $darkest_base;
    .navbar-default {
        display: none;
    }
    .page_header {
        margin-top: 1em;
        border-bottom: 1px solid $dark_subtle;
        color: $dark_text;
        padding-bottom: $gap;
    }
    .manga_pagination {
        a {
            padding: 5px 7px;
            background: none;
            border-color: $dark_subtle;
            color: $dark_text;
            &:hover {
                color: #fff;
            }
        }
        .active a {
            color: #fff;
            border-color: $dark_text;
        }
    }
    .btn-default {
        @include button_repaint($dark_subtle);
    }
    .page_nav  {
        color: $dark_text;
        font-size: 3em;
        margin-top: 50em;
        
    }
    .double .manga_page {
        width: 45%;
    }
    .double .manga_page.left_page {
        margin-left: 5%;
    }
    .manga_quick_nav a {
        color: $dark_subtle;
        &:hover {
            color: $dark_text;
        }
    }
    .dropdown-menu {
        background: $dark_subtle;
        color: #fff;
    }
    .open>.dropdown-toggle.btn-default {
        background: $dark_text;
        color: #fff;
        border-color: $dark_text;
    }
    .dropdown-menu .divider {
        background: $dark_text;
    }
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
        background: $dark_text;
    }
    .dropdown-menu>li>a {
        color: #fff;
    }
    .site_footer {
        color: $dark_subtle;
        border-color: $dark_subtle; 
    }
}


//Generic Styles

.stats {
    padding: 0;
    li {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 20px;
        background: $subtle_color;
    }
}

.manga_pagination {
    ol {
        list-style: none;
        float: left;
        padding: 0;
    }
    li {
        float: right;
        &:first-child {
            margin-left: 10px;
            a {
                border-right-width: 2px;
            }
        }
        &:nth-child(odd){
            margin-left: 10px;
        }
        a {
            background: #fff;
            border: 1px solid $subtle_color;
            padding: 10px 14px;
            color: $dark_base;
            display: inline-block;
            &:hover {
                text-decoration: none;
                color: $action_color;
            }
            &.add_page {
                padding: 13px 10px;
                background: none;
                border: none;
                color: $contrast_color;
                cursor: pointer;
                &:hover {
                    color: $action_color;
                }
            }
        }
    }
}

.manga_book {
    clear: both;
    position: relative;
    
    .manga_quick_nav {
        a {
            position: absolute;
            z-index: 100;
            top: 0;
            font-size: 4em;
            width: 40%;
            height: 100%;
        
        }
        .back {
            right: 0;
        }
        .next {
            left: 0;
        }
    }
}
.manga_book.single .manga_quick_nav  {
    i {
        margin-top: 50%;
    }
    .back i {
        margin-left: 50%;
    }
    .next i {
        margin-left: 40%;
    }
}
.manga_book.double .manga_quick_nav  {
    i {
        margin-top: 50%;
    }
    .back i {
        margin-left: 90%;
    }
    .next i {
        margin-left: 0%;
    }
}