/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Glyphicons for Bootstrap
 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before {
  content: "\2a"; }

.glyphicon-plus:before {
  content: "\2b"; }

.glyphicon-euro:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.btn-default, .btn_primary, body.show_theme .btn-default {
  background: none;
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  outline: none;
  font-size: 12px;
  font-family: "Roboto", Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px; }
  .btn-default:hover, .btn_primary:hover, body.show_theme .btn-default:hover {
    text-decoration: none; }

.btn-default, .btn_primary, body.show_theme .btn-default {
  background: none;
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  outline: none;
  font-size: 12px;
  font-family: "Roboto", Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px; }
  .btn-default:hover, .btn_primary:hover, body.show_theme .btn-default:hover {
    text-decoration: none; }

/* Layout */
.page_header, .manga_list, .episode_list, .create_manga_form, .page_edit_list {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

.page_header:before, .manga_list:before, .episode_list:before, .create_manga_form:before, .page_edit_list:before, .page_header:after, .manga_list:after, .episode_list:after, .create_manga_form:after, .page_edit_list:after {
  content: " ";
  display: table; }
.page_header:after, .manga_list:after, .episode_list:after, .create_manga_form:after, .page_edit_list:after {
  clear: both; }

.login_form .form-group label, .login_form .form-group label.checkbox_label input[type="checkbox"], .page_edit_list .drop_upload_file, .page_edit_list .page, .episode_list .episode_element, .manga_list .manga_series, .page_header .manga_thumb, .modal_area .modal_dialog, .create_manga_form .manga_meta, .create_manga_form .manga_thumb, .page_header .manga_info, .login_form .form-group input, .login_form .form-group label.checkbox_label {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  float: left; }

.login_form .form-group label, .login_form .form-group label.checkbox_label input[type="checkbox"], .page_edit_list .drop_upload_file, .page_edit_list .page {
  width: 16.66667%; }

.episode_list .episode_element {
  width: 25%; }

.manga_list .manga_series {
  width: 33.33333%; }

.page_header .manga_thumb {
  width: 41.66667%; }

.modal_area .modal_dialog, .create_manga_form .manga_meta, .create_manga_form .manga_thumb {
  width: 50%; }

.page_header .manga_info {
  width: 58.33333%; }

.login_form .form-group input {
  width: 83.33333%; }

.login_form .form-group label.checkbox_label {
  width: 100%; }

@media only screen and (max-width: 580px) {
  .page_header, .manga_list, .episode_list, .create_manga_form, .page_edit_list {
    max-width: 100%; }

  .login_form .form-group label, .login_form .form-group label.checkbox_label input[type="checkbox"], .page_edit_list .drop_upload_file, .page_edit_list .page, .episode_list .episode_element, .manga_list .manga_series, .page_header .manga_thumb, .modal_area .modal_dialog, .create_manga_form .manga_meta, .create_manga_form .manga_thumb, .page_header .manga_info, .login_form .form-group input, .login_form .form-group label.checkbox_label {
    width: 100% !important; } }
@media only screen and (max-width: 1024px) {
  .page_header, .manga_list, .episode_list, .create_manga_form, .page_edit_list {
    margin-left: 15px;
    margin-right: 15px; }

  .page_header, .manga_list, .episode_list, .create_manga_form, .page_edit_list {
    max-width: 100%; }

  .login_form .form-group label, .login_form .form-group label.checkbox_label input[type="checkbox"], .page_edit_list .drop_upload_file, .page_edit_list .page {
    width: 33.33333%; }

  .episode_list .episode_element {
    width: 50%; }

  .manga_list .manga_series {
    width: 66.66667%; }

  .page_header .manga_thumb {
    width: 83.33333%; }

  .modal_area .modal_dialog, .create_manga_form .manga_meta, .create_manga_form .manga_thumb {
    width: 100%; } }
/*Typography*/
body {
  font-size: 14px;
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.5;
  color: #444241; }

h1, h2, h3 {
  font-family: "Rokkitt", Helvetica, sans-serif; }

h1 {
  font-size: 2em;
  margin: 15px 0;
  line-height: 1;
  font-weight: normal; }

h2 {
  font-size: 1em;
  margin: 15px 0;
  line-height: 1;
  font-weight: normal; }

h3 {
  font-size: 0.66667em;
  margin: 15px 0;
  line-height: 1;
  font-weight: normal; }

h4 {
  font-size: 0.5em;
  margin: 15px 0;
  line-height: 1;
  font-weight: normal; }

h5 {
  font-size: 0.4em;
  margin: 15px 0;
  line-height: 1;
  font-weight: normal; }

h6 {
  font-size: 0.33333em;
  margin: 15px 0;
  line-height: 1;
  font-weight: normal; }

.btn-default, .btn_primary, body.show_theme .btn-default {
  background: none;
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  outline: none;
  font-size: 12px;
  font-family: "Roboto", Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px; }
  .btn-default:hover, .btn_primary:hover, body.show_theme .btn-default:hover {
    text-decoration: none; }

/**
 * Normzalize form elements
 * Source: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_forms.scss
 */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  font-size: 22.5px;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid #6c5e52; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

/** 
 * Form styles 
 */
input[type="search"], input[type="text"],
input[type="password"], input[type="email"],
textarea {
  padding: 7.5px;
  color: #000;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  outline: none; }

/* Widgets */
.modal_area {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none; }
  .modal_area .modal_dialog {
    margin: 0 auto;
    float: none;
    display: none; }
    .modal_area .modal_dialog .modal_content {
      padding: 15px;
      border-radius: 0px 0 4px 4px;
      background: #5e9977;
      box-shadow: 0 1px 1em rgba(0, 0, 0, 0.5);
      color: #fff; }
      .modal_area .modal_dialog .modal_content h4 {
        font-family: "Rokkitt", Helvetica, sans-serif;
        color: #fff;
        font-size: 2em; }
    .modal_area .modal_dialog header {
      border-bottom: 4px solid #71ad8b; }
    .modal_area .modal_dialog footer {
      border-top: 4px solid #71ad8b; }
  .modal_area .close {
    float: right;
    background: none;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em; }
    .modal_area .close .sr_only {
      display: none; }

.alert {
  padding: 7.5px;
  border-radius: 4px;
  margin: 15px; }
  .alert.error {
    background: #ffd9c2;
    border-bottom: 1px solid #e0a093;
    color: #7f5c5a; }
  .alert.success {
    background: #daffcd;
    border-bottom: 1px solid #b6e0a2;
    color: #596d4f; }

/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dropzone {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.02);
  padding: 1em; }

.dropzone.dz-clickable {
  cursor: pointer; }

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
  cursor: pointer; }

.dropzone.dz-clickable * {
  cursor: default; }

.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none; }

.dropzone.dz-drag-hover {
  border-color: rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.04); }

.dropzone.dz-started .dz-message {
  display: none; }

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px; }

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none; }

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px; }

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%; }

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px; }

.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px; }

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block; }

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d; }

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none; }

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657; }

.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block; }

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245, 245, 245, 0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500; }

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block; }

.dropzone {
  border: 1px solid rgba(0, 0, 0, 0.03);
  min-height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  padding: 23px; }

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  font-size: 14px; }

.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10); }

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none; }

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none; }

.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat; }

@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5 / 1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .dropzone .dz-preview .dz-error-mark,
  .dropzone-previews .dz-preview .dz-error-mark,
  .dropzone .dz-preview .dz-success-mark,
  .dropzone-previews .dz-preview .dz-success-mark {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px; } }
.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span {
  display: none; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px; }

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: url("../images/spritemap.png");
  background-repeat: repeat-x;
  background-position: 0px -400px; }

@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5 / 1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .dropzone .dz-preview .dz-progress .dz-upload,
  .dropzone-previews .dz-preview .dz-progress .dz-upload {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px; } }
.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none; }

.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
  background-image: -webkit-linear-gradient(top, #fafafa, #eee);
  background-image: -moz-linear-gradient(top, #fafafa, #eee);
  background-image: -o-linear-gradient(top, #fafafa, #eee);
  background-image: -ms-linear-gradient(top, #fafafa, #eee);
  background-image: linear-gradient(to bottom, #fafafa, #eee);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  padding: 4px 5px;
  text-align: center;
  color: #aaa;
  margin-top: 26px; }

.dropzone a.dz-remove:hover,
.dropzone-previews a.dz-remove:hover {
  color: #666; }

@-moz-keyframes loading {
  from {
    background-position: 0 -400px; }
  to {
    background-position: -7px -400px; } }
@-webkit-keyframes loading {
  from {
    background-position: 0 -400px; }
  to {
    background-position: -7px -400px; } }
@-o-keyframes loading {
  from {
    background-position: 0 -400px; }
  to {
    background-position: -7px -400px; } }
@keyframes loading {
  from {
    background-position: 0 -400px; }
  to {
    background-position: -7px -400px; } }
/**
 * Manga Styles
 */
body {
  background: url(../images/body_bg.png); }

.page_header {
  border-bottom: 3px solid #5e9977;
  color: #5e9977;
  margin-top: 15px;
  margin-bottom: 15px; }
  .page_header .manga_thumb img {
    max-width: 100%; }

.welcome_badge {
  border-bottom: 1px solid #c9bd8a;
  border-top: 1px solid #c9bd8a;
  color: #6c5e52;
  padding: 1em;
  margin: 15px; }
  .welcome_badge h2 {
    color: #c9bd8a;
    font-size: 3em; }

.navbar {
  background-color: #e9dba6;
  border-radius: 0;
  border: none;
  border-bottom: 5px solid #fff; }
  .navbar:before, .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }
  .navbar .navbar_header {
    float: left; }
  .navbar .navbar_brand {
    padding: 15px;
    color: #362b24;
    text-decoration: none;
    display: inline-block; }
  .navbar .nav {
    float: left;
    padding: 0;
    list-style: none; }
    .navbar .nav.nav_right {
      float: right; }
    .navbar .nav > li {
      display: inline-block; }
      .navbar .nav > li a {
        padding: 17px 15px;
        color: #362b24;
        text-decoration: none; }
      .navbar .nav > li.active a {
        background-color: #fff;
        color: #5e9977; }
  .navbar .navbar_toggle {
    display: none;
    background: none;
    border: none;
    outline: none;
    margin: 15px; }
    .navbar .navbar_toggle .sr_only {
      display: none; }
  @media only screen and (max-width: 580px) {
    .navbar {
      border-color: #433b34; }
      .navbar .navbar_header {
        float: none; }
      .navbar .navbar_toggle {
        display: block;
        float: right; }
      .navbar .nav {
        float: none;
        margin: 0; }
        .navbar .nav.nav_right {
          float: none; }
        .navbar .nav > li {
          display: block;
          clear: both; }
          .navbar .nav > li a {
            display: block; }
            .navbar .nav > li a:hover {
              color: #5e9977; }
      .navbar .navbar_collapse {
        background: #fff; }
        .navbar .navbar_collapse li.active a {
          background: #5e9977;
          color: #fff; }
          .navbar .navbar_collapse li.active a:hover {
            color: #fff; }
        .navbar .navbar_collapse.navbar_collapsed {
          display: none; } }
  .navbar .logout_form {
    margin: 8.5px 15px;
    float: right; }

.login_form .form-group {
  padding: 15px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #71ad8b; }
  .login_form .form-group:before, .login_form .form-group:after {
    content: " ";
    display: table; }
  .login_form .form-group:after {
    clear: both; }
  .login_form .form-group:last-child {
    border: none; }
.login_form .btn {
  font-size: 1.1em;
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 7px;
  color: #fff;
  border-color: #fff; }
  .login_form .btn:hover {
    border-color: #f25c05; }

.manga_list article, .episode_list article {
  border-right: 1px solid #e5e5d7; }
.manga_list .circle-btn, .episode_list .circle-btn {
  margin-top: 15%; }

.episode_list .episode_element img {
  max-width: 100%;
  display: block; }

.manga_list .manga_series img {
  max-width: 100%;
  display: block; }

.manga_series, .episode_element {
  margin-bottom: 1em; }
  .manga_series .manga_title, .episode_element .manga_title {
    position: relative;
    margin-bottom: 1em;
    background: #362b24;
    max-height: 300px;
    overflow: hidden; }
    .manga_series .manga_title img, .episode_element .manga_title img {
      opacity: 0.2;
      transition: opacity 0.2s; }
    .manga_series .manga_title h3, .manga_series .manga_title h4, .episode_element .manga_title h3, .episode_element .manga_title h4 {
      position: absolute;
      bottom: 0;
      margin-left: 20px;
      font-size: 3.5em;
      color: #fff;
      transition: opacity 0.2s; }
      .manga_series .manga_title h3 a, .manga_series .manga_title h4 a, .episode_element .manga_title h3 a, .episode_element .manga_title h4 a {
        color: #fff;
        text-decoration: none; }
    .manga_series .manga_title h4, .episode_element .manga_title h4 {
      font-size: 2em; }
    .manga_series .manga_title strong, .episode_element .manga_title strong {
      display: block;
      font-size: 0.6em;
      opacity: 0.7; }
  .manga_series .new_episode, .episode_element .new_episode {
    display: block;
    font-size: 1.1em;
    padding: 7.5px; }
  .manga_series .stats, .episode_element .stats {
    margin-top: 1em; }
  .manga_series:hover img, .episode_element:hover img {
    opacity: 1; }
  .manga_series:hover h3, .manga_series:hover h4, .episode_element:hover h3, .episode_element:hover h4 {
    opacity: 0; }
  .manga_series .series_title, .episode_element .series_title {
    font-size: 1.1em; }

.create_manga_form .manga_meta label {
  display: block;
  margin-top: 15px; }
.create_manga_form .manga_meta input[type=text], .create_manga_form .manga_meta textarea {
  display: block;
  width: 100%; }
.create_manga_form .manga_meta label[for^=cat-] {
  display: inline-block;
  padding: 6px;
  border-radius: 6px;
  background: #e9dba6;
  cursor: pointer; }
  .create_manga_form .manga_meta label[for^=cat-] input {
    display: inline; }
.create_manga_form .manga_thumb {
  position: relative; }
.create_manga_form .btn_primary {
  font-size: 1.2em;
  display: block;
  width: 100%;
  margin-top: 15px; }
.create_manga_form .dropzone .dz-preview .dz-details img,
.create_manga_form .dropzone-previews .dz-preview .dz-details img,
.create_manga_form .dropzone .dz-preview .dz-details,
.create_manga_form .dropzone-previews .dz-preview .dz-details {
  width: 400px;
  height: 250px; }
.create_manga_form .dropzone .dz-preview, .create_manga_form .dropzone-previews .dz-preview {
  border: none;
  margin: 15px 0; }
.create_manga_form .dropzone a.dz-remove, .create_manga_form .dropzone-previews a.dz-remove {
  background: none; }
.create_manga_form .drop_upload_file {
  background: url(../images/editing_bg.png);
  border: 1px dashed #71ad8b;
  color: #4c8062;
  width: 400px;
  height: 250px;
  position: absolute;
  left: 26px;
  top: 28px;
  margin-top: 15px;
  padding: 45px 15px;
  border-radius: 4px;
  text-align: center;
  transition: border 0.5s, color 0.5s, background-color 0.5s;
  cursor: pointer; }
  .create_manga_form .drop_upload_file i {
    font-size: 1.5em; }
.create_manga_form.dz-drag-hover .drop_upload_file {
  background-color: #4c8062;
  border: 1px solid #4c8062;
  color: #000; }

.delete_form {
  margin-top: 75px;
  text-align: center; }

.create_episode_name, .save_btn {
  margin-top: 23px; }

.page_edit_list #page_list {
  background: url(../images/editing_bg.png);
  padding: 0;
  list-style: none;
  border: 1px dashed #4c8062;
  transition: border 0.5s, color 0.5s, background-color 0.5s; }
  .page_edit_list #page_list:before, .page_edit_list #page_list:after {
    content: " ";
    display: table; }
  .page_edit_list #page_list:after {
    clear: both; }
  .page_edit_list #page_list.dz-drag-hover {
    border-style: solid;
    background-color: #71ad8b; }
.page_edit_list .meta {
  font-size: 0.8em;
  color: #7d7d7d; }
.page_edit_list .drop_upload_file {
  background: rgba(76, 128, 98, 0.5);
  color: #fff;
  height: 325px;
  border-radius: 4px;
  margin: 15px 0 15px 15px;
  border: 1px dashed #4c8062;
  cursor: pointer;
  text-align: center;
  padding-top: 45px;
  transition: border 0.5s, color 0.5s, background-color 0.5s; }
  .page_edit_list .drop_upload_file.dz-drag-hover {
    border-style: solid;
    background-color: #71ad8b; }
.page_edit_list .dz-remove {
  display: none; }
.page_edit_list .page {
  margin: 15px 0 0 15px;
  background: #fff;
  padding: 7.5px; }
  .page_edit_list .page img {
    max-width: 100%; }
.page_edit_list .progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  .page_edit_list .progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease; }
    .page_edit_list .progress .progress-bar.progress-bar-success {
      background: green; }

.manga_page {
  position: relative;
  width: 50%;
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  .manga_page .page_tools {
    position: absolute;
    top: 10px;
    left: 25px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out; }
  .manga_page .manga_img_wrap {
    width: 100%; }
    .manga_page .manga_img_wrap img {
      max-width: 100%; }
  .manga_page.content_page:hover .page_tools {
    opacity: 1; }
  .manga_page.empty_page .page_tools {
    display: none; }
  .manga_page.empty_page .drop_upload_file {
    border: 1px dashed #5e9977;
    padding: 10em 3em 3em 3em;
    text-align: center;
    min-height: 120%;
    font-size: 1.3em; }
  .manga_page.empty_page .upload_icon {
    font-size: 4em; }
  .manga_page.empty_page .traditional_input {
    font-size: 0.9em;
    margin-top: 1em;
    color: #5e9977; }
  .manga_page.empty_page input[type=file] {
    display: inline; }

.single .manga_page {
  margin-left: 25%; }

.manga_book.editing {
  background: url(../images/editing_bg.png);
  padding: 15px 0; }

.manga_thumb {
  margin-bottom: 1em;
  position: relative; }
  .manga_thumb .btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.1s; }
  .manga_thumb:hover .btn {
    opacity: 1; }

.manga_description p {
  color: #444241; }

.stars_list {
  list-style: none;
  padding: 0; }
  .stars_list li {
    display: inline-block;
    margin: 0 0.3em;
    color: #ffb100; }

.site_footer {
  border-top: 1px solid #ccc;
  font-size: 0.9em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 30px 15px 15px 15px;
  color: #727272; }

.btn-default {
  border: 1px solid #362b24;
  color: #362b24; }
  .btn-default:hover {
    background: #362b24;
    border-color: #362b24;
    color: #fff; }

.btn_primary {
  border: 1px solid #f25c05;
  color: #f25c05; }
  .btn_primary:hover {
    background: #f25c05;
    border-color: #f25c05;
    color: #fff; }

.back-link {
  color: #c9bd8a; }

.circle-btn {
  width: 50%;
  margin: 0 auto;
  display: block;
  cursor: pointer; }
  .circle-btn:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border: 3px solid #f25c05;
    border-radius: 50%;
    transition: background 0.1s ease-in-out; }
  .circle-btn:hover:after {
    background: #f25c05; }
  .circle-btn:hover span {
    color: #fff; }
  .circle-btn span {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    font-size: 1.5em;
    color: #f25c05;
    transition: color 0.1s ease-in-out; }

body.show_theme {
  background: #0b0a09; }
  body.show_theme .navbar-default {
    display: none; }
  body.show_theme .page_header {
    margin-top: 1em;
    border-bottom: 1px solid #433b34;
    color: #6c5e52;
    padding-bottom: 15px; }
  body.show_theme .manga_pagination a {
    padding: 5px 7px;
    background: none;
    border-color: #433b34;
    color: #6c5e52; }
    body.show_theme .manga_pagination a:hover {
      color: #fff; }
  body.show_theme .manga_pagination .active a {
    color: #fff;
    border-color: #6c5e52; }
  body.show_theme .btn-default {
    border: 1px solid #433b34;
    color: #433b34; }
    body.show_theme .btn-default:hover {
      background: #433b34;
      border-color: #433b34;
      color: #fff; }
  body.show_theme .page_nav {
    color: #6c5e52;
    font-size: 3em;
    margin-top: 50em; }
  body.show_theme .double .manga_page {
    width: 45%; }
  body.show_theme .double .manga_page.left_page {
    margin-left: 5%; }
  body.show_theme .manga_quick_nav a {
    color: #433b34; }
    body.show_theme .manga_quick_nav a:hover {
      color: #6c5e52; }
  body.show_theme .dropdown-menu {
    background: #433b34;
    color: #fff; }
  body.show_theme .open > .dropdown-toggle.btn-default {
    background: #6c5e52;
    color: #fff;
    border-color: #6c5e52; }
  body.show_theme .dropdown-menu .divider {
    background: #6c5e52; }
  body.show_theme .dropdown-menu > li > a:hover, body.show_theme .dropdown-menu > li > a:focus {
    background: #6c5e52; }
  body.show_theme .dropdown-menu > li > a {
    color: #fff; }
  body.show_theme .site_footer {
    color: #433b34;
    border-color: #433b34; }

.stats {
  padding: 0; }
  .stats li {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    background: #e9dba6; }

.manga_pagination ol {
  list-style: none;
  float: left;
  padding: 0; }
.manga_pagination li {
  float: right; }
  .manga_pagination li:first-child {
    margin-left: 10px; }
    .manga_pagination li:first-child a {
      border-right-width: 2px; }
  .manga_pagination li:nth-child(odd) {
    margin-left: 10px; }
  .manga_pagination li a {
    background: #fff;
    border: 1px solid #e9dba6;
    padding: 10px 14px;
    color: #362b24;
    display: inline-block; }
    .manga_pagination li a:hover {
      text-decoration: none;
      color: #f25c05; }
    .manga_pagination li a.add_page {
      padding: 13px 10px;
      background: none;
      border: none;
      color: #5e9977;
      cursor: pointer; }
      .manga_pagination li a.add_page:hover {
        color: #f25c05; }

.manga_book {
  clear: both;
  position: relative; }
  .manga_book .manga_quick_nav a {
    position: absolute;
    z-index: 100;
    top: 0;
    font-size: 4em;
    width: 40%;
    height: 100%; }
  .manga_book .manga_quick_nav .back {
    right: 0; }
  .manga_book .manga_quick_nav .next {
    left: 0; }

.manga_book.single .manga_quick_nav i {
  margin-top: 50%; }
.manga_book.single .manga_quick_nav .back i {
  margin-left: 50%; }
.manga_book.single .manga_quick_nav .next i {
  margin-left: 40%; }

.manga_book.double .manga_quick_nav i {
  margin-top: 50%; }
.manga_book.double .manga_quick_nav .back i {
  margin-left: 90%; }
.manga_book.double .manga_quick_nav .next i {
  margin-left: 0%; }

/*# sourceMappingURL=global.css.map */
