@import 'mixins';
@import 'variables';

// Minimal Layout System. 
// Use extend on your classes instead of adding structural classes to your markup.

/* Layout */
%row_wrap {
    max-width: $max_width;
    margin-left: auto;
    margin-right: auto;
}

%row {
    @include clearfix;
    @extend %row_wrap;
}

%col_common {
    padding-left: $gap;
    padding-right: $gap;
    box-sizing: border-box;
    float: left;
}

@for $i from 1 through $layout_cols {
    %col-#{$i} {
        @extend %col_common;
        width: percentage($i/$layout_cols);
    }
}

@media only screen and (max-width : $phone_screen) {
    
    %row {
        max-width: 100%;
    }
    %single_col {
        width: 100% !important;
    }
    @for $i from 1 through $layout_cols {
        %col-#{$i} {
            //@if($i <= ($layout_cols/6)){
            //    width: percentage($i*2/$layout-cols);
            //    width: 100%;
            //}
            //@else {
            //    @extend %single_col;
            //}
            @extend %single_col;
        }
    }
    
}

@media only screen and (max-width : $tablet_screen) {
    %row_wrap {
        margin-left: $gap;
        margin-right: $gap;
    }
    %row {
        max-width: 100%;
    }
    @for $i from 1 through $layout_cols/2 {
        %col-#{$i} {
            width: percentage($i*2/$layout-cols);
        }
    }
}