@import 'variables';

//Static button parts
%button_static {
    background: none;
    display: inline-block;
    padding: 6px 12px;
    margin: 0;
    outline: none;
    font-size: 12px;
    font-family: $body_copy;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
        text-decoration: none;
    }
}
%button_block {
    display: block;
}
//Button mixin
@mixin button_repaint($color) {
    @extend %button_static;
    
    border: 1px solid $color;
    color: $color;
    
    &:hover {
        background: $color;
        border-color: $color;
        color: #fff;
    }
}

//Media query mixin
@mixin for_phone {
  @media only screen and (max-width: $phone_screen) {
    @content;
  }
}
@mixin for_tablet {
  @media only screen and (max-width: $tablet_screen) {
    @content;
  }
}


// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}

// WebKit-style focus
// Source: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_tab-focus.scss
@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

//Box sizing
// Source: http://web-design-weekly.com/2013/05/12/handy-sass-mixins/
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
