/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/* line 9, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 19, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
body {
  margin: 0; }

/* line 43, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 55, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 65, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 76, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
[hidden], template {
  display: none; }

/* line 87, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
a {
  background: transparent; }

/* line 96, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
a:active, a:hover {
  outline: 0; }

/* line 107, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 116, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
b, strong {
  font-weight: bold; }

/* line 124, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
dfn {
  font-style: italic; }

/* line 133, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 142, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 151, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
small {
  font-size: 80%; }

/* line 160, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 167, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
sup {
  top: -0.5em; }

/* line 171, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 182, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
img {
  border: 0; }

/* line 190, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 201, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
figure {
  margin: 1em 40px; }

/* line 209, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 219, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
pre {
  overflow: auto; }

/* line 230, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 254, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 264, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
button {
  overflow: visible; }

/* line 276, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
button, select {
  text-transform: none; }

/* line 291, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 301, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 310, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 320, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
input {
  line-height: normal; }

/* line 333, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 345, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 355, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 369, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 377, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 388, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
legend {
  border: 0;
  padding: 0; }

/* line 397, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
textarea {
  overflow: auto; }

/* line 406, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
optgroup {
  font-weight: bold; }

/* line 417, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 423, /Users/jorgelainfiesta/Documents/Universidad/8vo Semestre/Web/Proyecto3/laravel/public/styles/resources/_reset.scss */
td, th {
  padding: 0; }

/*# sourceMappingURL=_reset.css.map */