@import 'variables';

/*Typography*/

body {
    font-size: $body_font;
    font-family: $body_copy;
    line-height: $line_height;
    color: $body_color;
}

h1, h2, h3 {
    font-family: $title_font;
}

@for $i from 1 to 7 {
    h#{$i} {
        font-size: $h1_size/($i);
        margin: $gap 0;
        line-height: $h_line_height;
        font-weight: normal;
    }
}

