//Colors
$body_color: #444241;

$contrast_color: #5e9977;
$contrast_light: #71ad8b;
$contrast_dark: #4c8062;

$action_color: #f25c05;

$main_text: #444241;
$subtle_color: #e9dba6;
$light_base: #c9bd8a;

$dark_base: #362b24 ;
$dark_text: #6c5e52;
$dark_subtle:#433b34;
$darkest_base: #0b0a09;

//Typography
$body_copy: "Roboto", Helvetica, sans-serif;
$title_font: "Rokkitt", Helvetica, sans-serif;

$body_font: 14px;
$line_height: 1.5;

$h1_size: 2em;
$h_line_height: 1;

//Layout
$gap: 15px;
$layout_cols: 12;
$phone_screen: 580px;
$tablet_screen: 1024px;
$laptop_screen: 1224px;
$max_width: 1024px;

//Forms
$input_background: #fff;
$input_border: #ccc;
$input_text: #000;

//Modal
$modal_background: rgba(0,0,0,0.5);