@import 'variables';

/* Widgets */

//Modal dialog
.modal_area {
    width: 100%;
    height: 100%;
    background: $modal_background;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    
    .modal_dialog {
        @extend %col-6;
        margin: 0 auto;
        float: none;
        display: none;
        
        .modal_content {
            padding: $gap;
            border-radius: 0px 0 4px 4px;
            background: $contrast_color;
            box-shadow: 0 1px 1em $modal_background;
            color: #fff;
            
            h4 {
                font-family: $title_font;
                color: #fff;
                font-size: 2em;
            }
        }
        header {
            border-bottom: 4px solid $contrast_light;
        }
        footer {
            border-top: 4px solid $contrast_light;
        }
    }
    .close {
        float: right;
        background: none;
        border: none;
        outline: none;
        color: $modal_background;
        font-size: 1.5em;
        .sr_only {
            display: none;
        }
    }
}

.alert {
    padding: $gap/2;
    border-radius: 4px;
    margin: $gap;
    &.error {
        background: rgb(255, 217, 194); 
        border-bottom: 1px solid rgb(224, 160, 147);
        color: rgb(127, 92, 90);
    }
    &.success {
        background: rgb(218, 255, 205); 
        border-bottom: 1px solid rgb(182, 224, 162);
        color: rgb(89, 109, 79);
    }
}
